body{
    margin: 0;
    font-family: cursive;
    background-color: rgb(245, 164, 191);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

h1{
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 2px;

}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.square{
    font-family: cursive;
    font-size: 25px;
background-color: rgb(203, 203, 231);
    color: rgb(10, 10, 10);
    width: 180px;
    height: 90px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    cursor: pointer;
}

#square-1{
    background-image: url('1.jpg');
    background-size:cover ;
}
#square-2{
    background-image: url('2.jpg');
    background-size:cover ;
}
#square-3{
    background-image: url('3.jpeg');
    background-size:cover ;
}
#square-4{
    background-image: url('4.jpg');
    background-size:cover ;
}


