@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
body{
    background-color: salmon;
    margin: 0;
}

.text-container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "Permanent Marker", cursive;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}
