body {
    margin: 0;
    background-color: salmon;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.image-2,
.image-3 {
    display: none;
}

.image-container img {
    width: 400px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}

.fa-angles-left {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    color: aliceblue;
    font-size: 30px;
}

.fa-angles-right{
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translateY(-50%);
    color: aliceblue;
    font-size: 30px;
}

.fa-angles-left,.fa-angles-right:hover{
    cursor: pointer;
}